/* YOUR CUSTOM STYLES */
 /* TEMPLATE STYLES */
@import "media.css";
@media screen and (max-width : 550px) {
  .brand {
    left: 30%!important;
  }
}

@media screen and (max-width : 900px) {
  .brand {
    top: 0;
    left: 40%;
  }
}

@media screen and (max-width : 990px) {
  .brand {
    top: 0;
    left: 40%;
  }
  .navbar-desktop {
    display: none;
  }
  .form-search {
    display: none!important;
  }

  .navbar-mobile {
    visibility: visible;
  }
  .btn-toggle {
    visibility: visible!important;
  }
}
main {
    margin-top: 5rem;
}

.float-xs-left, .breadcrumb-dn {
	float: left!important;
}

/*button*/
.btn-toggle {
  /*visibility: hidden;*/
  width: 40px;
  height: 40px;
  position: fixed;
  left: 30px;
  top: 0rem;
  bottom: 0;
  float: left;
  font-size: 1.5em;
  cursor: pointer;
}
/*mobile navbar*/
.navbar-mobile {
  visibility: visible;
  position: absolute;
  top: 55px;
  left: -240px;
  width: 240px;
  height: 100vh;
  background-color: #f7f7f7;
  z-index: 9;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 5px 5px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 5px 5px 1px rgba(0,0,0,0.6);
  box-shadow: 0 5px 5px 1px rgba(0,0,0,0.6);
}

.navbar-mobile.visible {
  visibility: visible;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay-body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-bottom: 0;
  z-index: 9999999;
  background-color: rgba(0,0,0,0.6);
}

.nav-mobile {
  position: relative;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 0px;
  width: 100%;
}
a, a:hover {
  text-decoration: none;
}
.nav-mobile li {
  position: relative;
  display: block;
  width: 100%;
  left: 0;
  font-size: 18px;
  height: 45px;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);

}

/*profile*/
.profile {
  cursor: pointer;
}
.tiny-profile {
  position: relative;
  background-color: #f7f7f7;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.tiny-profile img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.nav-mobile li a {
  color: #000;
}
.nav-mobile li:hover {
  background-color: #efe9ff;
}

.close {
  color: black;
  -webkit-transition:all 0.3ms  ease-in-out;
  -moz-transition: all 0.3ms ease-in-out;
  -ms-transition: all 0.3ms ease-in-out;
  -o-transition: all 0.3ms ease-in-out;
  transition: all 0.3ms ease-in-out;
}

.btn-toggle .icon-menu {}


.btn-toggle .icon {
  position: absolute;
  width: 36px;
  height:5px;
  top: 0;
  left: 0;
  background: #000;
  margin: auto;
}

.btn-toggle .icon::before, .btn-toggle .icon::after {
  position: absolute;
  width: 100%;
  height:5px;
  background: #000;
  content: "";
}

.btn-toggle .icon::before {
  top: 10px;
}

.btn-toggle .icon::after {
  top: 10px;
}



.brand {
	position: relative;
	float: left;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
  font-size: 1.25rem;
}
.button-collapse{
	float: left;
}

main .card {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

.navbar {
    position: relative;
    padding: .4rem 0.5rem!important;
    /*overflow: hidden;*/
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed!important;
}


.white-text {
  color: white!important;
}

.form-search .form-control {
  width: 360px;
  text-align: center;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  color: black;
  -webkit-background: rgba(255,255,255,0.52)!important;
  -moz-background: rgba(255,255,255,0.52)!important;
  -ms-background: rgba(255,255,255,0.52)!important;
  -o-background: rgba(255,255,255,0.52)!important;
  background: rgba(255,255,255,0.52)!important;
  transition: .3s, width .01s;
  /*transition: 0.5s ease-in-out;*/
}

.form-search .form-control:focus, .form-search .form-control:active {
  -webkit-background: white!important;
  -moz-background: white!important;
  -ms-background: white!important;
  -o-background: white!important;
  background: white!important;
  color: black;
  /*width: 800px;*/
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.1);
}



/*.form-search-nav:active {
  color: white;
}*/

.text-center {
  text-align: center!important;
}

.form-search {
  position: relative;
  left: 200px;
  display: table-cell;
}

.icon-search {
  position: absolute;
  left: 2%;
  padding-top: 10px;
}

@media screen and (max-width: 1200px) {
  .form-search {
    right: 10%;
  }
}

.close-icon {
  border:none;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  color: red;
}

.form-search .form-control:not(:valid) ~ .close-icon {
  display: none;
}

.search-box {
  width: 800px;
}

.page-footer {
    background-color: #eee;
    padding-top: 20px;
}
.page-footer ul {
    list-style: none;
    display: block;
}

.page-footer ul li {
    display: inline-block;
}

.page-footer ul li a {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 30px  ;
}


.footer-copyright {
    background-color: #90a4ae;
    width: 100%;
    position: relative;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.footer-copyright a {
    color: #fff;
}




/*input[type="text"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]) {
	border-color:#0d47a1;
	box-shadow:0 1px 0 0 #0d47a1;
	color:black;
  background-color: transparent;
}

input[type="text"]:not([readonly])+label, input[type="email"]:not([readonly])+label, input[type="password"]:not([readonly])+label {
	color:black;
}

input[type="text"]:focus:not([readonly])+label, input[type="email"]:focus:not([readonly])+label, input[type="password"]:focus:not([readonly])+label {
	color: rgba(0,0,0,0.5);
}*/
