/* YOUR CUSTOM STYLES */
 /* TEMPLATE STYLES */

main {
    margin-top: 5rem;
}

.float-xs-left, .breadcrumb-dn {
	float: left!important;
}

.brand {
	position: relative;
	float: left;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
  font-size: 1.25rem;
}
.button-collapse{
	float: left;
}

@media screen and (max-width : 550px) {
	.brand {
		left: 30%!important;
	}
}

@media screen and (max-width : 900px) {
	.brand {
		top: 0;
		left: 40%;
	}
}




main .card {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

.navbar {
    position: relative;
    padding: 0.8rem!important;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed!important;
}

.form-search-nav {
  height: 1rem!important;
  background-color: rgba(0,0,0,0.15)!important;
  padding: 18px 0 18px 8% ;
  border-radius: 2px;
  width: 450px!important;
  text-align: center;
  left: 0;
  border: none;
}

.form-search-nav:active {
  color: white;
}

.text-center {
  text-align: center!important;
}

.form-search {
  right: 20%;
  display: table-cell;
}

.icon-search {
  position: absolute;
  left: 2%;
  padding-top: 10px;
}

@media screen and (max-width: 1200px) {
  .form-search {
    right: 10%;
  }
}



input[type="text"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]) {
	border-color:#0d47a1;
	box-shadow:0 1px 0 0 #0d47a1;
	color:black;
  background-color: transparent;
}

input[type="text"]:not([readonly])+label, input[type="email"]:not([readonly])+label, input[type="password"]:not([readonly])+label {
	color:black;
}

input[type="text"]:focus:not([readonly])+label, input[type="email"]:focus:not([readonly])+label, input[type="password"]:focus:not([readonly])+label {
	color: rgba(0,0,0,0.5);
}
